.btn-one {
	width: 100%;
	height: 40px;
	color: #FFFFFF;
	font-size: 15px;
	border: 0px;
	border-radius: 4px;
	background-color: #007AFF;
}
.tu-body {
	width: 50%;height: auto;background-color: #ecf4e6;padding: 10px;box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.tu-item {
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	background-color: #BAD586;
	border-radius: 10px;
}
.def-img {
	width: 600px;
	height: 500px;
}
.def-width {
	width: 50%;
}
.def-width2 {
	width: 33%;
}
.def-width3 {
	width: 25%;
}
.text-tips {
	color: #f4795a;
}
.text-yu-fa {
	padding: 5px;
	border: 1px solid #D4D4D4;
	background-color: #F6F4F0;
}
.text-suo-jin {
	text-indent: 2em;
}
.bg-color {
	background-color: #efeff4;
}

.uni-flex {
	display: flex;
	flex-direction: row;
}

.main-title {
	height: 100px;
	width: 100%;
	padding: 3px 10px;
	background-color: #CCCCCC;
}

.ban-shi-title {
	background-color: #bababa;
	border: 1px solid #EAEAEA;
	display: flex;
	padding: 5px;
}
.ban-shi-item {
	display: flex;
	padding: 5px;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
}
.ban-shi-item:nth-child(even) {
	background-color: #F6F4F0;
}
.ban-shi-grid {
	display: flex;
	flex-direction: row;
	background-color: #F6F4F0;
	border-top: 1px solid #D4D4D4;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
}
.ban-shi-grid:last-child {
	border-bottom: 1px solid #D4D4D4;
}
.ban-shi-grid-item{
	width: 100%;
	text-align: center;
	padding: 5px 0px;
	border-right: 1px solid #D4D4D4;
}
.ban-shi-grid-item:last-child {
	border-right: 0px;
}
